.app-wrapper-content {
	height: 81VH;
	display: grid;
}
.contact {
	align-self: center;
	margin: 20px;
}

.size-icon {
	width: 32px;
	margin: 20px;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.contact img {
	filter: 
	sepia(20%) 
	hue-rotate(245deg) 
	brightness(105%) 
	contrast(132%);
}
@media screen and (max-width: 475px) {
	.row {
		grid-template-columns: 1fr;
		margin-bottom: 2rem;
	}
}